<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yemek Tarifleri</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="{% url 'index' %}">Anasayfa</a></li>
        <li><a href="{% url 'tarif_listesi' %}">Tarif Listesi</a></li>
        <li><a href="{% url 'tarif_ekle' %}">Tarif Ekle</a></li>
      </ul>
    </nav>

    <h1>Yemek Tarifleri</h1>
    <ul>
      {% for tarif in tarifler %}
      <li>
        <strong>{{ tarif.baslik }}</strong> - {{ tarif.kategori }}<br />
        <em>{{ tarif.malzemeler|linebreaks }}</em><br />
        <small>Oluşturan: {{ tarif.olusturan.username }}</small>
      </li>
      {% empty %}
      <li>Henüz tarif eklenmemiş!</li>
      {% endfor %}
    </ul>
  </body>
</html>
