<h1><a href= "{% url 'recipes' %}">DÖN</a></h1>

<form method="get">
    {{ form.as_p }}
    <button type="submit">Filtrele</button>
</form>

<div class="tarif-liste">
    {% if tarifler %}
        <ul>
            {% for tarif in tarifler %}
                <li>
                    <h3>{{ tarif.baslik }}</h3>
                    <p>Malzemeler:
                        {% for malzeme in tarif.malzemeler.all %}
                            {{ malzeme.isim }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No recipes found with selected ingredients.</p>
    {% endif %}
</div>