<div class="BlogListPage" style="width: 1440px; height: 1847px; position: relative; background: white">
    <div class="Vector2" style="width: 1440px; height: 0px; left: 0px; top: 110px; position: absolute; border: 1px rgba(0, 0, 0, 0.10) solid"></div>
    
    <!-- tarif ekleme butonu(gecici) -->
    <u1><a href= "{% url 'tarif_ekle' %}">
        <div class="Header" style="width: 840px; height: 289px; left: 300px; top: 190px; position: absolute">
          <div class="Button" onclick="warn()" style="left: 191px; top: -50px; position: absolute; text-align: center; color: black; font-size: 64px; font-family: Inter; font-weight: 600; word-wrap: break-word">AAAAAAAAADD</div>
            <!--<button onclick="warn()">
           AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA 
               
            </button>-->
        </div>
      </a>
    </u1>

    <script>
    function warn() {
    
        if (Tarif.olusturan_id != User)
        {
            alert("Lütfen log-in.");
        } 
    }
  </script>
    
    <!-- orijinal -->
    <div class="Header" style="width: 840px; height: 289px; left: 300px; top: 190px; position: absolute">
      <div class="GetYourRecipe" style="left: 191px; top: 0px; position: absolute; text-align: center; color: black; font-size: 64px; font-family: Inter; font-weight: 600; word-wrap: break-word">Get Your Recipe</div>
      <div class="LoremIpsumDolorSitAmetConsecteturAdipiscingElitSedDoEiusmodTemporIncididuntUtLaboreEtDolore" style="width: 840px; left: 0px; top: 101px; position: absolute; text-align: center; color: rgba(0, 0, 0, 0.60); font-size: 16px; font-family: Inter; font-weight: 400; line-height: 28px; word-wrap: break-word">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</div>
      
      <form method="get" action="{% url 'tarif_arama' %}">
        <div class="SearchBar" style="width: 700px; height: 80px; left: 70px; top: 209px; position: absolute; display: flex; align-items: center;">
          <div class="Rectangle18" style="flex-grow: 1; height: 80px; border-radius: 40px; border: 1px solid rgba(0, 0, 0, 0.10); position: relative;">
            <input
              type="text"
              placeholder="Search recipe..."
              style="width: 100%; height: 100%; border: none; padding: 0 20px; font-size: 16px; font-family: Inter; font-weight: 400; border-radius: 40px; outline: none;"
              id="arama"
              name="search_query"
              value="{{ search_query }}"
              />
          </div>
          <div class="Rectangle3" style="width: 150px; height: 50px; margin-left: 10px; border-radius: 25px; background-color: #007BFF; position: relative;">
            <button class="Search" style="width: 100%; height: 100%; border: none; background: none; color: white; font-size: 16px; font-family: Inter; font-weight: 600; cursor: pointer; border-radius: 25px;">
              Search
            </button>
          </div>
        </div>
      </form>
    </div>

    

    <div class="BlogList" style="width: 840px; height: 893px; left: 80px; top: 559px; position: absolute">
      <div class="Group905" style="width: 840px; height: 200px; left: 0px; top: 0px; position: absolute">
        <div class="MaskGroup" style="width: 290px; height: 200px; left: 0px; top: 0px; position: absolute">
          <div class="Rectangle11" style="width: 290px; height: 200px; left: 0px; top: 0px; position: absolute; background: #C4C4C4; border-radius: 20px"></div>
          <img class="Image26" style="width: 290px; height: 291.20px; left: 0px; top: -20px; position: absolute; border-radius: 20px" src="https://via.placeholder.com/290x291" />
        </div>
        <div class="CrochetProjectsForNoodleLovers" style="left: 330px; top: 13px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 600; word-wrap: break-word">
          <div class="tarif-liste">
            {% if tarifler %}
                <ul>
                    {% for tarif in tarifler %}
                        <li><a href="{% url 'tarif_detay' tarif.id %}">
                            <h3>{{ tarif.baslik }}</h3>
                            <p>Kategori: {{ tarif.kategori }}</p></a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No recipes, press <a href="{% url 'tarif_ekle' %}">here</a> to add.</p>
            {% endif %}
          </div>
        </div>
        
      </div>
      <div class="Group906" style="width: 840px; height: 200px; left: 0px; top: 232px; position: absolute">
        <div class="MaskGroup" style="width: 290px; height: 200px; left: 0px; top: 0px; position: absolute">
          <div class="Rectangle11" style="width: 290px; height: 200px; left: 0px; top: 0px; position: absolute; background: #C4C4C4; border-radius: 20px"></div>
          <img class="Image26" style="width: 290px; height: 291.20px; left: 0px; top: -20px; position: absolute; border-radius: 20px" src="https://via.placeholder.com/290x291" />
        </div>
        <div class="VegetarianRecipesToEatThisMonth" style="left: 330px; top: 13px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 600; word-wrap: break-word">10 Vegetarian Recipes To Eat This Month</div>
        <div class="LoremIpsumDolorSitAmetConsectetuipisicingElitSedDoEiusmodTemporIncididuntUtLaboreEtDoloreMagnaAliqutEnim" style="width: 510px; left: 330px; top: 58px; position: absolute; color: rgba(0, 0, 0, 0.60); font-size: 16px; font-family: Inter; font-weight: 400; line-height: 28px; word-wrap: break-word">Lorem ipsum dolor sit amet, consectetuipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqut enim  </div>
      </div>
      <div class="Group908" style="width: 840px; height: 200px; left: 0px; top: 461px; position: absolute">
        <div class="MaskGroup" style="width: 290px; height: 200px; left: 0px; top: 0px; position: absolute">
          <div class="Rectangle11" style="width: 290px; height: 200px; left: 0px; top: 0px; position: absolute; background: #C4C4C4; border-radius: 20px"></div>
          <img class="Image26" style="width: 290px; height: 291.20px; left: 0px; top: -20px; position: absolute; border-radius: 20px" src="https://via.placeholder.com/290x291" />
        </div>
        <div class="SimpleDeliciousVegetarianLasagna" style="left: 330px; top: 13px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 600; word-wrap: break-word">Simple & Delicious Vegetarian Lasagna</div>
        <div class="LoremIpsumDolorSitAmetConsectetuipisicingElitSedDoEiusmodTemporIncididuntUtLaboreEtDoloreMagnaAliqutEnim" style="width: 510px; left: 330px; top: 58px; position: absolute; color: rgba(0, 0, 0, 0.60); font-size: 16px; font-family: Inter; font-weight: 400; line-height: 28px; word-wrap: break-word">Lorem ipsum dolor sit amet, consectetuipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqut enim </div>
      </div>
      <div class="Group909" style="width: 840px; height: 200px; left: 0px; top: 693px; position: absolute">
        <div class="MaskGroup" style="width: 290px; height: 200px; left: 0px; top: 0px; position: absolute">
          <div class="Rectangle11" style="width: 290px; height: 200px; left: 0px; top: 0px; position: absolute; background: #C4C4C4; border-radius: 20px"></div>
          <img class="Image26" style="width: 290px; height: 291.20px; left: 0px; top: -20px; position: absolute; border-radius: 20px" src="https://via.placeholder.com/290x291" />
        </div>
        <div class="PlantainAndPintoStewWithAjiVerde" style="left: 330px; top: 13px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 600; word-wrap: break-word">
          <form method="get" action="{% url 'tarif_arama' %}">
            <div class="malzeme-secimi">
                <label for="malzemeler">Select Ingredients:</label>
                <select id="malzemeler" name="malzemeler" multiple>
                    {% for malzeme in malzeme_listesi %}
                        <option value="{{ malzeme.id }}">{{ malzeme.isim }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit">Search</button>
        </form>
        </div>
        
      </div>
    </div>



    <div class="Group13934" style="width: 544px; height: 64px; left: 448px; top: 1501px; position: absolute">
        <button class="Group13927 active" onclick="handleButtonClick(this)" style="width: 64px; height: 64px; border: none; border-radius: 16px; background: black; position: absolute; color: white; font-size: 18px; font-family: Inter; font-weight: 700; cursor: pointer; left: 0px; top: 0px;">
          1
        </button>
        <button class="Group13928" onclick="handleButtonClick(this)" style="width: 64px; height: 64px; border: 1px rgba(0, 0, 0, 0.10) solid; border-radius: 16px; background: white; position: absolute; color: black; font-size: 18px; font-family: Inter; font-weight: 700; cursor: pointer; left: 80px; top: 0px;">
          2
        </button>
        <button class="Group13929" onclick="handleButtonClick(this)" style="width: 64px; height: 64px; border: 1px rgba(0, 0, 0, 0.10) solid; border-radius: 16px; background: white; position: absolute; color: black; font-size: 18px; font-family: Inter; font-weight: 700; cursor: pointer; left: 160px; top: 0px;">
          3
        </button>
        <button class="Group13930" onclick="handleButtonClick(this)" style="width: 64px; height: 64px; border: 1px rgba(0, 0, 0, 0.10) solid; border-radius: 16px; background: white; position: absolute; color: black; font-size: 18px; font-family: Inter; font-weight: 700; cursor: pointer; left: 240px; top: 0px;">
          4
        </button>
        <button class="Group13931" onclick="handleButtonClick(this)" style="width: 64px; height: 64px; border: 1px rgba(0, 0, 0, 0.10) solid; border-radius: 16px; background: white; position: absolute; color: black; font-size: 18px; font-family: Inter; font-weight: 700; cursor: pointer; left: 320px; top: 0px;">
          5
        </button>
        <button class="Group13932" onclick="handleSpecialButtonClick(this)" style="width: 64px; height: 64px; border: 1px rgba(0, 0, 0, 0.10) solid; border-radius: 16px; background: white; position: absolute; color: black; font-size: 18px; font-family: Inter; font-weight: 700; cursor: pointer; left: 400px; top: 0px;">
          ...
        </button>
        <button class="Group13933" onclick="handleSpecialButtonClick(this)" style="width: 64px; height: 64px; border: 1px rgba(0, 0, 0, 0.10) solid; border-radius: 16px; background: white; position: absolute; color: black; font-size: 18px; font-family: Inter; font-weight: 700; cursor: pointer; left: 480px; top: 0px;">
          >
        </button>
      </div>




    <div class="Navigation" style="width: 1283px; left: 70px; top: 30px; position: absolute">
        <div class="Malzemen Yeter" style="left: 0px; top: 0px; position: absolute"><span style="color: black; font-size: 40px; font-family: Lobster; font-weight: 400; word-wrap: break-word">Malzemen Yeter</span><span style="color: #FF7426; font-size: 40px; font-family: Lobster; font-weight: 400; word-wrap: break-word"><a href= "{% url 'tarif_arama_deneme' %}">.</a></span></div>
        <div class="Group824" style="width: 886px; height: 19px; left: 397px; top: 16px; position: absolute">
          <div class="Home" style="left: 0px; top: 0px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 500; word-wrap: break-word"><a href= "{% url 'main_page' %}">Home</a></div>
          <div class="Recipes" style="left: 105px; top: 0px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 500; word-wrap: break-word"><a href= "{% url 'recipes' %}">Recipes</a></div>
          <div class="YourProfile" style="left: 801px; top: 0px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 500; word-wrap: break-word"><a href= "{% url 'your_profile' %}">Your Profile</a></div>
          <div class="Contact" style="left: 224px; top: 0px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 500; word-wrap: break-word"><a href= "{% url 'contact' %}">Contact</a></div>
          <div class="AboutUs" style="left: 344px; top: 0px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 500; word-wrap: break-word"><a href= "{% url 'about_us' %}">About Us</a></div>
        </div>
      </div>



    <div class="Footer" style="width: 1280px; height: 201px; left: 80px; top: 1603px; position: absolute">
      <div class="Group875" style="width: 400px; height: 83px; left: 0px; top: 0px; position: absolute">
        <div class="LoremIpsumDolorSitAmetConsectetuipisicingElit" style="width: 400px; left: 0px; top: 55px; position: absolute; color: rgba(0, 0, 0, 0.60); font-size: 16px; font-family: Inter; font-weight: 400; line-height: 28px; word-wrap: break-word">Lorem ipsum dolor sit amet, consectetuipisicing elit, </div>
        <div class="Malzemen Yeter" style="left: 0px; top: 0px; position: absolute"><span style="color: black; font-size: 40px; font-family: Lobster; font-weight: 400; word-wrap: break-word">Malzemen Yeter</span><span style="color: #FF7426; font-size: 40px; font-family: Lobster; font-weight: 400; word-wrap: break-word">.</span></div>
      </div>
      <div class="Vector1" style="width: 1280px; height: 0px; left: 0px; top: 131px; position: absolute; border: 1px rgba(0, 0, 0, 0.10) solid"></div>
      <div class="2024Bil481PoweredByYSC" style="left: 472px; top: 179px; position: absolute; color: rgba(0, 0, 0, 0.60); font-size: 18px; font-family: ABeeZee; font-weight: 400; word-wrap: break-word">© 2024 BIL481. Powered by Y.S.Ş.C.</div>
    </div>
  </div>



  <script>
    function handleButtonClick(button) {
      // Tüm butonların "active" sınıfını kaldır
      const buttons = document.querySelectorAll(".Group13934 button");
      buttons.forEach(btn => {
        if (!btn.classList.contains("Group13932") && !btn.classList.contains("Group13933")) {
          btn.style.background = "white";
          btn.style.color = "black";
          btn.classList.remove("active");
        }
      });
  
      // Tıklanan butona "active" sınıfını ekle ve stilini değiştir
      button.style.background = "black";
      button.style.color = "white";
      button.classList.add("active");
    }
  
    function handleSpecialButtonClick(button) {
      // "..." ve ">" butonlarına özel bir işlem yapılabilir
      alert(`${button.textContent.trim()} butonuna tıklandı!`);
    }
  </script>