<html lang="tr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ tarif.baslik }}</title>
  </head>
  <body>
    <h1>{{ tarif.baslik }}</h1>
    
    {% if tarif.resim %}
      <img src="{{ tarif.resim.url }}" alt="{{ tarif.baslik }}" style="max-width: 300px;">
    {% else %}
      <p>Görsel mevcut değil</p>
    {% endif %}

    <h3>Malzemeler:</h3>

    {% for malzeme in tarif.malzemeler.all %}
    <li>{{ malzeme.isim }}</li>
    {% endfor %}

    <h3>Tarif:</h3>
    <p>{{ tarif.tarif }}</p>

    
    
    <h1>Creator: {{ tarif.olusturan }}</h1>

    {% if tarif in request.user.favori_tarifler.all %}
      <!-- Eğer tarif favorilerdeyse, favorilerden çıkar butonu -->
      <a href="{% url 'favori_cikar' tarif.id %}">Favorilerden Çıkar</a>
    {% else %}
      <!-- Eğer tarif favorilerde değilse, favorilere ekle butonu -->
      <a href="{% url 'favori_ekle' tarif.id %}">Favorilere Ekle</a>
    {% endif %}
    
    <h1></h1>

    <a href="{% url 'recipes' %}"><a href="{% url 'tarif_arama_deneme' %}">Geri dön</a></a>
  </body>
</html>
